
/dist

/node_modules
npm-debug.log
*.log

package-lock.json

.idea/
*.sublime-workspace

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
.history/*

/.angular/cache

.DS_Store
Thumbs.db
